
*.cbp
*.marks
*.log
*.cmake
CMakeLists.txt
cmake-build-debug/Makefile
.DS_Store
cmake-build-debug/final_pro
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/final_pro.dir/progress.make
cmake-build-debug/CMakeFiles/final_pro.dir/main.c.o
cmake-build-debug/CMakeFiles/final_pro.dir/link.txt
cmake-build-debug/CMakeFiles/final_pro.dir/flags.make
cmake-build-debug/CMakeFiles/final_pro.dir/depend.make
cmake-build-debug/CMakeFiles/final_pro.dir/depend.internal
cmake-build-debug/CMakeFiles/final_pro.dir/C.includecache
cmake-build-debug/CMakeFiles/final_pro.dir/build.make
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/a.out
